@import "tailwindcss";

@font-face {
  font-family: "font1";
  src: url("src/assets/fonts/Lausanne-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "font2";
  src: url("src/assets/fonts/Lausanne-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.moveX {
  animation: moveAnimation 10s linear infinite;
}

@keyframes moveAnimation {
  from { transform: translateX(0%); }
  to   { transform: translateX(-100%); }
}

body::selection {
  background: #d2fd60;
  color: black;
}
